body {

    background-image: url('https://pbs.twimg.com/media/EFL6g3dWsAAzaCS.jpg');
   
    background-size: 100%;
    

}

h1 {
    margin-top: 5rem;
    text-align: center;
}

.card {
    width: 70%;
    height: 400px;
    font-size: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    border-style: none;
    background: transparent;
    opacity: 1;
    
}

p {
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
    color: #fff;
}

.fondo {
   
   
    
    
}