h1 {
    margin-top: 5rem;
    text-align: center;
}

.card {
    width: 70%;
    height: 400px;
    background: #fff;   
    font-size: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    border-style: none;
}

p {
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
}